<a href="https://colab.research.google.com/github/furewing/dataAnalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 컬렉션 자료형

## 3-1.리스트

### 리스트 생성

In [3]:
# 빈 리스트 생성
a = []
a = list()
print(type(a))
print(a)

<class 'list'>
[]

In [5]:
# 초기 데이터 넣고 리스트 생성
import math

a = [1,2,3,4,5]
print(a)
a = [1, 'apple', 3, 3.14, math.pi, max(10,20,30)]
b = [1, 2, a, ['사과','딸기'], {'k':'kkk'}]
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 'apple', 3, 3.14, 3.141592653589793, 30]
[1, 2, [1, 'apple', 3, 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'kkk'}]

In [6]:
numlist = []
for num in range(1,21,2):
  numlist.append(num)
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
print(b)
for i in b: #for 반복문, b란 이름의 리스트 안에 있는 요소를 하나씩 출력하는 코드
  print(i)

[1, 2, [1, 'apple', 3, 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'kkk'}]
1
2
[1, 'apple', 3, 3.14, 3.141592653589793, 30]
['사과', '딸기']
{'k': 'kkk'}

### 리스트 요소에 접근하기

In [13]:
colors = ['red', 'green', 'blue', 'black', 'white']
print(colors[0])
print(colors[2:4])  # 끝 번호는 포함 안됨
print(colors[::-1]) # 거꾸로 정렬

for color in colors:
  print(f"나는 '{color}'을 가장 좋아합니다.")

red
['blue', 'black']
['white', 'black', 'blue', 'green', 'red']
나는 'red'을 가장 좋아합니다.
나는 'green'을 가장 좋아합니다.
나는 'blue'을 가장 좋아합니다.
나는 'black'을 가장 좋아합니다.
나는 'white'을 가장 좋아합니다.

### 리스트에 요소 추가하기

In [15]:
print(colors)
# 인덱스 2 위치에 'pink' 넣기
colors.insert(2, 'pink')
print(colors)

# 맨 뒤에 추가하기
colors.append('gray')
print(colors)

['red', 'green', 'pink', 'blue', 'black', 'white']
['red', 'green', 'pink', 'pink', 'blue', 'black', 'white']
['red', 'green', 'pink', 'pink', 'blue', 'black', 'white', 'gray']

### 리스트 특정 위치의 요소값 변경

In [18]:
colors[3] = 'sky'
print(colors)
colors[1:3] = 'sky blue' # 값이 이상하게 들어간다.인덱스 개수가 다르면 대체가 안되고 없어짐
print(colors)
colors[1:3] = ['sky','blue'] # 들어갈 갯수만큼
print(colors)

['red', 's', 'k', 'sky', ' ', 'b', 'l', 'u', 'e', 'sky', 'blue', 'black', 'white', 'gray']
['red', 's', 'k', 'y', ' ', 'b', 'l', 'u', 'e', 'sky', ' ', 'b', 'l', 'u', 'e', 'sky', 'blue', 'black', 'white', 'gray']
['red', 'sky', 'blue', 'y', ' ', 'b', 'l', 'u', 'e', 'sky', ' ', 'b', 'l', 'u', 'e', 'sky', 'blue', 'black', 'white', 'gray']

### 리스트 요소 삭제하기

In [26]:
colors = ['red', 'green', 'blue', 'black', 'blue', 'white', 'blue']
# 맨 뒤에 있는 것 삭제(pop():꺼내기)
colors.pop()
print(colors)

#요소값과 일치하는 것 삭제
colors.remove('blue')
print(colors)

# 전체 요소 삭제
colors.clear()
print(colors)

['red', 'green', 'blue', 'black', 'blue', 'white']
['red', 'green', 'black', 'blue', 'white']
[]

### 리스트 자체 삭제

In [25]:
del(colors)
print(colors)

NameError: name 'colors' is not defined

### 2차원/3차원... 리스트 요소 접근

In [33]:
animals = ['사자', '호랑이', '곰',
          ['고양이', '강아지', ['돌고래', '범고래'], '햄스터'] ]

print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래
4

### 리스트 길이(요소의 개수)

In [36]:
print(animals)
print(len(animals))
print(len(animals[3]))
print(len(animals[3][2]))

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
4
4
2

### 리스트 함수

In [42]:
colors = ['red', 'green', 'blue', 'black', 'white', 'blue']
# 순차 정렬
print(colors)
colors.sort()
print(colors)
# 역순 정렬
colors.reverse()
print(colors)

# 리스트의 특정 요소 위치 찾기
print(colors.index('blue'))
print(colors.index('blue')) # 여러개 있을 경우 맨 앞의 인덱스 출력

# 요소 값 개수 세기
print(colors.count('blue'))

# 리스트의 항목을 정렬해서 새로운 리스트에 대입한다.
new = sorted(colors)
print(new)

['red', 'green', 'blue', 'black', 'white', 'blue']
['black', 'blue', 'blue', 'green', 'red', 'white']
['white', 'red', 'green', 'blue', 'blue', 'black']
3
3
2

In [44]:
colors = ['red', 'green', 'blue', 'black', 'white', 'blue']
print(colors)
newColors = ['빨강', '파랑', '노랑']
print(newColors)
colors.extend(newColors)
print(colors)

['red', 'green', 'blue', 'black', 'white', 'blue']
['빨강', '파랑', '노랑']
['red', 'green', 'blue', 'black', 'white', 'blue', '빨강', '파랑', '노랑']
['red', 'green', 'blue', 'black', 'white', 'blue', '빨강', '파랑', '노랑']

In [45]:
colors = ['red', 'green', 'blue', 'black', 'white', 'blue']
newColors = ['빨강', '파랑', '노랑']
colors += newColors
print(colors)

['red', 'green', 'blue', 'black', 'white', 'blue', '빨강', '파랑', '노랑']

## 3-2. 딕셔너리(Dictionary)

### 딕셔너리 자료 생성

In [47]:
dic = dict()  # 빈 딕셔너리 생성
dic = {}      # 빈 딕셔너리 생성
print(type(dic))

<class 'dict'>

In [53]:
# 딕셔너리는 Key:Value 구조
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민'] }
print(members)
print(members[2]) # 2는 key이다.
print(members['bts'])
print(members['bts'][1])
print(len(members))

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
3

### 딕셔너리에서 Value에 접근하기
-Key를 통해서 Value에 접근할 수 있다.

In [57]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민'] }
for key in members:
  print(f"Key->{key}, Value->{members[key]}")

Key->1, Value->이승철
Key->2, Value->박정현
Key->bts, Value->['진', 'RM', '뷔', '지민']

### 딕셔너리에서 자주 사용하는 함수

In [59]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민'] }
print( members.keys() )   # Key만 모아둔 것
print( members.values() ) # Value만 모아둔 것
print( members.items() ) # Key와 Value를 쌍으로 모아둔 것(key, value)

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['진', 'RM', '뷔', '지민'])])

In [62]:
# 셋 다 동일한 방법
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민'] }
for key,value in members.items():
  print(key, value)
for key in members.keys():
  print(key, members[key])
for key in members:
  print(key, members[key])

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

### 딕셔너리에 요소 추가/수정/삭제

In [ ]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민'] }
print(members)
# 요소 추가
members[3] = 'NCT Dream'
members['소속사'] = ['하이브', 'SM']
print(members)

# 요소 수정
members[1] = '세븐틴'
print(members)

# 요소 삭제
del(members['소속사'])
print(members)

# 딕셔너리 삭제
del(members)
print(members)

## 3-3.튜플(Tuple)

### 튜플 정의  
• 튜플은리스트이 형태와 거의 유사한 데이터 구조
• 튜플에서 리스트의 대괄호([ ]) 대신 소괄호(( ))를사용한다.
• 튜플에서는 요소들의 수정과 추가가 불가하다.
• 튜플은 소괄호 ()를 생략 가능, 항목이 하나인 튜플은 뒤에 쉼표(,) 붙임

### 튜플 생성

In [70]:
tup = tuple()    # 빈 튜플 생성
tup = ()         # 빈 튜플 생성
print(type(tup))

a = [1,2,3,4]
print(a)
print(tuple(a))   # 리스트를 튜플로 변환

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [72]:
tup = ('사과')    # 괄호는 묶음의 의미로 해석
print(type(tup))
tup = ('사과',)   # 튜플에서 요소가 하나일 때는 반드시 맨 뒤에 쉼표(,) 추가
print(type(tup))

<class 'str'>
<class 'tuple'>

In [ ]:
help(list) # 자료형에 대한 도움말

### 튜플은 변수를 정의할 때/함수의 파라미터의 정의에 사용

In [75]:
a, b = 100, 200
a, b = 100, [1,2,3]
print(a)
print(b)

100
[1, 2, 3]

In [76]:
def nSum(a, b): #parameter
  return a + b

nSum(100, 200)   #argument

300

## 3-4. 집합(Set)

### 집합 정의
- 집합 자료는 키만 모아 놓은 딕셔너리의 특수한 형태
- 딕셔너리의 키는 중복되면 안 되므로 세트에 들어 있는 값은 항상 유일
- 세트를 생성하려면 딕셔너리처럼 중괄호 { } 사용하지만 : 없이 값을 입력
- ** 중복된 키는 자동으로 하나만 남음**

### 집합 생성

In [78]:
a = set()  # 빈 집합 생성
print( type(a) )

a = {1,2,3,4,2,2,4}  # unique한 데이터만 남는다.
print(a)

<class 'set'>
{1, 2, 3, 4}

### 집합은 중복된 데이터는 배제한다.
- unique한 데이터만 남는다.
- 순서가 없다

In [79]:
a = [1,2,3,4,5,6,7,2,2,3,5,6,7,5,2]
print(a)
a = list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 5, 2]
[1, 2, 3, 4, 5, 6, 7]

### 집합에 요소 추가/삭제

In [89]:
S = {1,2,3,'a','b'}
print(S)

# 요소 1개 추가
S.add(4)
print(S)

# 요소 여러개 추가
S.update(['c','d', 5])
print(S)
S.update('apple')
print(S)

# 요소 1개 삭제
S.discard('a')
print(S)
S.discard('apple')
print(S)
#S.discard([]'p','l']) # -> 오류 발생
#print(S)

# 특정 요소 삭제 (원소가 없으면 오류)
S.remove(1)
print(S)

# 임의의 요소 삭제
S.pop()
print(S)

{'b', 1, 2, 3, 'a'}
{'b', 1, 2, 3, 4, 'a'}
{1, 2, 3, 4, 5, 'c', 'd', 'b', 'a'}
{1, 2, 3, 4, 5, 'l', 'p', 'c', 'e', 'd', 'b', 'a'}
{1, 2, 3, 4, 5, 'l', 'p', 'c', 'e', 'd', 'b'}
{1, 2, 3, 4, 5, 'l', 'p', 'c', 'e', 'd', 'b'}
{2, 3, 4, 5, 'l', 'p', 'c', 'e', 'd', 'b'}
{3, 4, 5, 'l', 'p', 'c', 'e', 'd', 'b'}

In [ ]:
# 집합 전체 삭제
del(S)
print(S)

### 교집합/합집합/차집합

In [94]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
print('S1 = ', S1)
print('S2 = ', S2)
# 교집합
print(f'교집합(S1&S2) = {S1 & S2}' )
print(S1.intersection(S2))
# 합집합
print(f'합집합(S1|S2) = {S1 | S2}' )
print(S1.union(S2))
# 차집합
print( S1 - S2 )
print(S1.difference(S2))
print( S2 - S1 )
print(S2.difference(S1))

S1 =  {1, 2, 3, 4, 5}
S2 =  {3, 4, 5, 6, 7}
교집합(S1&S2) = {3, 4, 5}
{3, 4, 5}
합집합(S1|S2) = {1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{6, 7}
{6, 7}

In [99]:
# A.intersection_update(B,C) -> 계산 결과를 A로 update
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
S1.intersection_update(S2)
print(S1)

{3, 4, 5}

In [100]:
# 세 개 이상 집합에서 사용
# A.intersection_update(B,C) -> 계산 결과를 A로 update
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
S3 = {5,6,7}
S1.intersection_update(S2,S3)
print(S1)

{5}