<a href="https://colab.research.google.com/github/furewing/dataAnalysis/blob/main/5%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%8B%A4%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [문제1]반복문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자

### for문

In [ ]:
tot = 0
for i in range(1, 1001):
  if (i % 3 == 0):
    tot += i

print(f'1부터 1000까지의 자연수 중 3의 배수의 합 = ', tot)

1부터 1000까지의 자연수 중 3의 배수의 합 =  166833

### while문

### 리스트 컴프리헨션 이용하기

In [ ]:
sum([i for i in range(1,1001) if i%3==0 ])

166833

### [문제2]사용자가 숫자를 입력하면 별 모양을 입력한 숫자의 두 배만큼 출력하는 프로그램을 만드세요. 예를 들어 5915를 입력하면 각 행에 10, 18, 2, 10 개의 별을 출력해 보세요.

In [ ]:
#방법1
star_list = list(input('숫자를 여러개 입력하세요: '))
for s in star_list:
  for i in range(0,int(s)*2):
    print('*',end='')
  print('')

숫자를 입력하세요: 1234
**
****
******
********

In [ ]:
#방법2
num = list(input('숫자를 여러개 입력하세요: '))
for star in num:
  print('*'*int(star)*2)

숫자를 입력하세요: 1234
**
****
******
********

### [실습문제3]아래와 같이 구구단을 출력해 보세요.

In [2]:
# 방법1 : 세로출력

for i in range(2,10):
  print(f'---{i}단---')
  for j in range(1,10):
    print(f'{i}*{j}={i*j}')

---2단---
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
---3단---
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
---4단---
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
---5단---
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
---6단---
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
---7단---
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
---8단---
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
---9단---
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [12]:
# 방법1 : 가로출력
for i in range(0,10):
  for j in range(2,10):
    if i == 0:
      print(f'-{j}단--', end=' ')
    else:
      print(f'{j}*{i}={j*i:2d}',end=' ')
  print()

-2단-- -3단-- -4단-- -5단-- -6단-- -7단-- -8단-- -9단--
2*1= 2 3*1= 3 4*1= 4 5*1= 5 6*1= 6 7*1= 7 8*1= 8 9*1= 9
2*2= 4 3*2= 6 4*2= 8 5*2=10 6*2=12 7*2=14 8*2=16 9*2=18
2*3= 6 3*3= 9 4*3=12 5*3=15 6*3=18 7*3=21 8*3=24 9*3=27
2*4= 8 3*4=12 4*4=16 5*4=20 6*4=24 7*4=28 8*4=32 9*4=36
2*5=10 3*5=15 4*5=20 5*5=25 6*5=30 7*5=35 8*5=40 9*5=45
2*6=12 3*6=18 4*6=24 5*6=30 6*6=36 7*6=42 8*6=48 9*6=54
2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49 8*7=56 9*7=63
2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64 9*8=72
2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [ ]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} x {i} = {j*i:2d}", end=" ")
    print()

### [실습문제4] 공이 튕긴 횟수 구하기 (공을 일정 높이에서 떨어뜨리면, 원래 높이의 1/2만큼 튀어 오릅니다. 이를 반복하다가 높이가 0.00001m보다 낮으면 튀어 오르지 않습니다. while문을 이용하여 공이 튀어 오르는 총 횟수를 구하는 프로그램을 만들어 보세요.)