<a href="https://colab.research.google.com/github/furewing/dataAnalysis/blob/main/5%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%8B%A4%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [문제1]반복문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자

### for문

In [5]:
tot = 0
for i in range(1, 1001):
  if (i % 3 == 0):
    tot += i

print(f'1부터 1000까지의 자연수 중 3의 배수의 합 = ', tot)

1부터 1000까지의 자연수 중 3의 배수의 합 =  166833

### while문

### 리스트 컴프리헨션 이용하기

In [4]:
sum([i for i in range(1,1001) if i%3==0 ])

166833

### [문제2]사용자가 숫자를 입력하면 별 모양을 입력한 숫자의 두 배만큼 출력하는 프로그램을 만드세요. 예를 들어 5915를 입력하면 각 행에 10, 18, 2, 10 개의 별을 출력해 보세요.

In [13]:
#방법1
star_list = list(input('숫자를 여러개 입력하세요: '))
for s in star_list:
  for i in range(0,int(s)*2):
    print('*',end='')
  print('')

숫자를 입력하세요: 1234
**
****
******
********

In [17]:
#방법2
num = list(input('숫자를 여러개 입력하세요: '))
for star in num:
  print('*'*int(star)*2)

숫자를 입력하세요: 1234
**
****
******
********