<a href="https://colab.research.google.com/github/furewing/dataAnalysis/blob/main/6%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%ED%95%A8%EC%88%98%EC%99%80%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 난수
- 문자열, 리스트, range와 같은 여러 개의 값들(literal)
- 5.random.shuffle( )   # 무작위로 섞기
- x = [1, 3, 5, 4, 2]
- random.shuffle(x)
- 6. random.choice( )    # 임의의 값 선택 (중복허용)
- random.choice(x)
- 7.random.sample( )    # 임의의 값 선택 (중복불허)
- random.sample(range(1,46), 6) # range(1,46)값에서 무작위로 6개 추출

In [ ]:
import random

dice = [0,0,0,0,0,0]
for i in range(1,100) :
  c = random.randint(1,6)
  dice[c-1] += 1
print(f'숫자별 개수: [{dice}]')

maxValue = max(dice)
# max_dice = []
# for v in dice:
#   if v == maxValue:
#     max_dice.append(idx+1)
# --> 아래의 한 문장으로
max_dice = [idx+1 for idx, v in enumerate(dice) if v == maxValue ] #동일한 횟수가 나올때 체크

#print(f'가장 많이 나온 주사위 숫자: {dice.index(max(dice))+1}, 횟수: {max(dice)}')
print(f'가장 많이 나온 주사위 숫자: {max_dice}, 횟수: {maxValue}')

숫자별 개수: [[20, 12, 14, 18, 15, 20]]
가장 많이 나온 주사위 숫자: [1, 6], 횟수: 20

In [ ]:
print(f'로또 번호 출력: {sorted(random.sample(range(1,46), 6))}')

로또 번호 출력: [12, 23, 27, 28, 33, 45]

### 컴프리헨션

## 5. 함수와 모듈

###  암스트롱 수 출력하기
- 다음 조건을 참고하여 암스트롱수를 구하는 함수를 만들어  출력하는 프로그램을 만들어 보세요.

In [17]:
def is_arm(N):
  lst = []
  lst = list(map(int,str(N)))
  a = 0
  for idx, x in enumerate(lst):
    a += lst[idx]**3
  if a == N:
    return True
  else:
    return False

for i in range(100,1000):
  if is_arm(i):
    print(f"[{i}] is armstrong number")

[153] is armstrong number
[370] is armstrong number
[371] is armstrong number
[407] is armstrong number

In [18]:
def is_armstrongNumber(n):
  _1, _2, _3 = int(str(n)[0]), int(str(n)[1]), int(str(n)[2])
  if _1**3+_2**3+_3**3 == n:
    return True
  else:
    return False

for i in range(100,1000):
  if is_armstrongNumber(i):
    print(f"[{i}] is armstrong number")

[153] is armstrong number
[370] is armstrong number
[371] is armstrong number
[407] is armstrong number

In [19]:
def is_arm(N):
  n_10 = N % 100
  n_1 = n_10 % 10

  return True if (N // 100) **3 + (n_10 // 10) **3 + n_1 ** 3 == N else False

for i in range(100, 1000):
  if is_arm(i):
    print(f"{i}은 암스트롱수 입니다.")

153은 암스트롱수 입니다.
370은 암스트롱수 입니다.
371은 암스트롱수 입니다.
407은 암스트롱수 입니다.

In [26]:
# 리스트에서 3의 배수만 문자열로 변환하는 프로그램을 lambda와 map을 이용하여 만들어 보세요. myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
myList = [1,2,3,4,5,6,7,8,9,10 ]

# func = lambda num : str(num) if num%3==0 else num
# myList = list(map(func, myList))
myList = list(map(lambda num : str(num) if num%3==0 else num, myList))
myList

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [29]:
# 2개의 리스트에서 동일한 인덱스의 숫자를 곱한 값을 리스트로 출력하는 프로그램을 lambda와 map을 이용하여 만들어 보세요.
#[실습문제]
#myList1 = [1, 2, 3, 4, 5]
#myList2 = [2, 4, 6, 8, 10]

myList1 = [1, 2, 3, 4, 5]
myList2 = [2, 4, 6, 8, 10]

func2 = lambda num : num*2
myList = list(map(func2, myList1))
print(myList)

func1 = lambda x,y: x*y
myList = list(map(func1, myList1, myList2))
print(myList)

[2, 8, 18, 32, 50]
[2, 4, 6, 8, 10]