<a href="https://colab.research.google.com/github/furewing/dataAnalysis/blob/main/7%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%ED%8C%8C%EC%9D%BC_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6. 파일 입출력

## 6-1.TXT

### 파일 입출력

In [ ]:
#파일 쓰기
f = open("./새파일.txt", 'w')
for i in range(1,12):
  data = "%d 번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
#파일 읽기(readline)
f = open("./새파일.txt", 'r')
while True:
  line = f.readline()
  if not line:
    break
  print(line.strip()) # \n 제거
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.
11 번째 줄입니다.

In [ ]:
#파일 읽기(readlines)
f = open("./새파일.txt", 'r')
lines = f.readlines()
#print(lines) # -> ['1 번째 줄입니다.\n', '2 번째 줄입니다.\n', '3 번째 줄입니다.\n', '4 번째 줄입니다.\n', '5 번째 줄입니다.\n', '6 번째 줄입니다.\n', '7 번째 줄입니다.\n', '8 번째 줄입니다.\n', '9 번째 줄입니다.\n', '10 번째 줄입니다.\n', '11 번째 줄입니다.\n']
for line in lines:
  print(line.strip())
f.close()

['1 번째 줄입니다.\n', '2 번째 줄입니다.\n', '3 번째 줄입니다.\n', '4 번째 줄입니다.\n', '5 번째 줄입니다.\n', '6 번째 줄입니다.\n', '7 번째 줄입니다.\n', '8 번째 줄입니다.\n', '9 번째 줄입니다.\n', '10 번째 줄입니다.\n', '11 번째 줄입니다.\n']
1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.
11 번째 줄입니다.

In [ ]:
#파일 읽기(read)
f = open("./새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.
11 번째 줄입니다.

### with 문 사용하기
- with 문
- with문 블록 범위를 벗어나면 자동으로 파일 객체 닫기 처리가 됨

In [ ]:
# f.close()를 사용하지 않아도 with문 블록 범위를 벗어나면 자동으로 파일 객체가 닫혀진다.
with open("./test.txt", 'w') as f:
  f.write("사랑해요, 파이썬!")

In [ ]:
#with 문 파일 쓰기
with open("./test.txt", 'w') as f:
  for i in range(1,11):
    data = "%d 번째 줄입니다.\n" % i
    f.write(data)

In [ ]:
#with 문 파일 쓰기
with open("./test.txt", 'r+') as f:
  data = f.read()
  print(data)
  data = data.replace("줄", "사람")
  print(data)
  f.write(data)
  print("end")

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

1 번째 사람입니다.
2 번째 사람입니다.
3 번째 사람입니다.
4 번째 사람입니다.
5 번째 사람입니다.
6 번째 사람입니다.
7 번째 사람입니다.
8 번째 사람입니다.
9 번째 사람입니다.
10 번째 사람입니다.

end

### os 모듈: 디렉터리 & 파일 관련 함수

In [ ]:
import os

os.chdir('/content')
print(f"현재위치: {os.getcwd()}")
print(f"현재위치 파일/폴더 목록: {os.listdir()}")

현재위치: /content
현재위치 파일/폴더 목록: ['.config', 'test.txt', '새파일.txt', 'sample_data']
현재위치 파일/폴더 목록: ['.config', 'test.txt', '새파일.txt', 'sample_data']

In [ ]:
os.chdir('../')

### os.remove() : 파일 삭제

In [ ]:
import os

file = "./새파일.txt"
if os.path.isfile(file):
  os.remove(file)
  print(f"'{file}' 파일이 삭제되었습니다.")
else:
  print(f"'{file}' 파일이 존재하지 않습니다.")

./새파일.txt 파일이 존재하지 않습니다.

In [ ]:
# sample.txt 신규 생성하고, 생성한 파일에 1~100사이의 임의의 정수를 10개를 출력하세요.
import random

f = open('./sample.txt', 'w')
mlist = random.sample(range(1,100), 10)
f.write(str(mlist))
f.close()

In [ ]:
# sample.txt 신규 생성하고, 생성한 파일에 1~100사이의 임의의 정수를 10개를 출력하세요.
import random

f = open('./sample.txt', 'w')
for _ in range(10):
  n = str(random.randint(1,100))
  f.write(n+'\n') # 문자열 사용 가능
f.close()

f = open('./sample.txt', 'r')
print(f.read())
f.close()

83
24
36
19
23
85
36
76
31
43

In [ ]:
#파일 읽기(readlines)
f = open("./sample.txt", 'r')
data = [int(line) for line in f.readlines()]
hap = sum(data)

print(f'총합은 {hap}입니다.')
print(f'평균은 {hap/len(data)}입니다.')
f.close()

총합은 456입니다.
평균은 45.6입니다.

In [ ]:
#파일 읽기(readlines)
with open("./sample.txt", 'r') as f:
  data = [ int(line) for line in f.readlines() ]
  hap = sum(data)
  avg = hap / len(data)
  content =f'{data}\n의 총합은 {hap}입니다.\n 평균은 {avg}입니다.'
  print(content)

with open("./result.txt", 'w') as f:
  f.write(content)

[83, 24, 36, 19, 23, 85, 36, 76, 31, 43]
의 총합은 456입니다.
 평균은 45.6입니다.

### (article.txt)파일을 읽어 딕셔너리 key에 해당하는 단어를 value값으로 대체 하여 (result2.txt) 파일에 출력하세요.

In [3]:
dicText = {
'13':'20',
'토트넘':'맨체스터유나이티드',
'해리 케인':'박지성',
'손흥민':'이승우'
}

with open("./article.txt", 'r') as f:
  article_text = f.read()

# for word in article_text.split():
#     if word in dicText:
#         article_text = article_text.replace(word, dicText[word])

for key, value in dicText.items():
    article_text = article_text.replace(key, value)

with open('./result2.txt', 'w') as file:
    file.write(article_text)

### 아래 조건을 만족하도록 팀 구성 프로그램을 만들어 보세요.
- ① (members.txt)파일에 있는 수강생 데이터를 읽은 후 리스트로 만들고
- ② 리스트를 섞은 후
- ③ 팀당 4명의 수강생 만들어 { 팀명: [수강생] } 딕셔너리 형태로 만들고
- ④ 화면과 (teams.txt) 파일로 출력하세요
- ⑤ 팀명은 서로 연관성 있는 이름(과일, 야채, 동물 등)으로 구성된 리스트에서 임의로 부여되도록 한다.

In [22]:
import random

with open('./members.txt', 'r') as f:
  members = [line.strip().split(',')[1] for line in f]

random.shuffle(members)

team_names = ['Apple', 'Banana', 'Cherry', 'Mango', 'Broccoli', 'Carrot', 'Spinach', 'Tomato', 'Lion', 'Elephant', 'Giraffe', 'Panda']
teams = {}

for i in range(0, len(members), 4):
  team_name = random.choice(team_names)
  team_names.remove(team_name)
  teams[team_name] = members[i:i+4]

print(f'팀원수: {len(members)}')
print(f'팀개수: {len(teams)}')
print(teams)

print('Teams:')
for team_name, members in teams.items():
    #join 함수는 매개변수로 들어온 리스트에 있는 요소 하나하나를 합쳐서 하나의 문자열로 바꾸어 반환하는 함수
    print(f'{team_name}: {", ".join(members)}')

with open('./teams.txt', 'w') as f:
  for team_name, members in teams.items():
    f.write(f'{team_name}: {", ".join(members)}\n')

Teams:
{'Mango': ['최준희', '박지연', '최원희', '인선미'], 'Tomato': ['유지은', '이정', '정재순', '박효미'], 'Broccoli': ['서남미', '윤영순', '한진희', '권명숙'], 'Elephant': ['천윤희', '윤노숙', '박지영', '김선형'], 'Giraffe': ['전혜진', '이숙미', '김현아', '안지영'], 'Carrot': ['오현주', '임은희', '김미영', '조현정'], 'Spinach': ['박윤경', '이주현', '권지선', '황수산나'], 'Apple': ['최민지', '유지연', '이미경', '송인경'], 'Banana': ['고정미', '김혜정', '전현주', '전유진'], 'Cherry': ['박성미', '임미숙', '이수진']}
팀원수: 39
팀개수: 10
Mango: 최준희, 박지연, 최원희, 인선미
Tomato: 유지은, 이정, 정재순, 박효미
Broccoli: 서남미, 윤영순, 한진희, 권명숙
Elephant: 천윤희, 윤노숙, 박지영, 김선형
Giraffe: 전혜진, 이숙미, 김현아, 안지영
Carrot: 오현주, 임은희, 김미영, 조현정
Spinach: 박윤경, 이주현, 권지선, 황수산나
Apple: 최민지, 유지연, 이미경, 송인경
Banana: 고정미, 김혜정, 전현주, 전유진
Cherry: 박성미, 임미숙, 이수진

### ("data/hamlet.txt“)파일을 읽어 단어의 빈도수를 나타내는 프로그램을 만들고 빈도수 상위 10개의 단어와 빈도수를 튜플 형태로 출력하세요

In [29]:
nulls = ['.', '?', ',', '!', '-']

with open('./hamlet.txt', 'r') as f:
  text = f.read()
  #for i in nulls:
  #  text = text.replace(i, '')

word_count = {}

for word in text.split():
  if word not in word_count:
    word_count[word] = 1
  else:
    word_count[word] += 1

top_words = sorted(word_count.items(), key=lambda x: x[1], reverse=True)[:10]

print(top_words)

[('the', 929), ('and', 680), ('of', 625), ('to', 608), ('I', 523), ('a', 453), ('my', 444), ('in', 382), ('you', 361), ('Ham.', 358)]